<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EP-Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>projectpack.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>projectpack.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcome</display-name>
    <servlet-name>welcome</servlet-name>
    <servlet-class>projectpack.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signinwelcome</display-name>
    <servlet-name>signinwelcome</servlet-name>
    <servlet-class>projectpack.signinwelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signinwelcome</servlet-name>
    <url-pattern>/signinwelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupwelcome</display-name>
    <servlet-name>signupwelcome</servlet-name>
    <servlet-class>projectpack.signupwelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupwelcome</servlet-name>
    <url-pattern>/signupwelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>projectpack.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>projectpack.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatedatabasedetails</display-name>
    <servlet-name>updatedatabasedetails</servlet-name>
    <servlet-class>projectpack.updatedatabasedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedatabasedetails</servlet-name>
    <url-pattern>/updatedatabasedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteaccount</display-name>
    <servlet-name>deleteaccount</servlet-name>
    <servlet-class>projectpack.deleteaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteaccount</servlet-name>
    <url-pattern>/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>semesterserv</display-name>
    <servlet-name>semesterserv</servlet-name>
    <servlet-class>projectpack.semesterserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>semesterserv</servlet-name>
    <url-pattern>/semesterserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>branchserv</display-name>
    <servlet-name>branchserv</servlet-name>
    <servlet-class>projectpack.branchserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>branchserv</servlet-name>
    <url-pattern>/branchserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>courseserv</display-name>
    <servlet-name>courseserv</servlet-name>
    <servlet-class>projectpack.courseserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseserv</servlet-name>
    <url-pattern>/courseserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addnewquestionserv</display-name>
    <servlet-name>addnewquestionserv</servlet-name>
    <servlet-class>projectpack.addnewquestionserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnewquestionserv</servlet-name>
    <url-pattern>/addnewquestionserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setquestionpaperbeanvalues_stage1</display-name>
    <servlet-name>setquestionpaperbeanvalues_stage1</servlet-name>
    <servlet-class>projectpack.setquestionpaperbeanvalues_stage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setquestionpaperbeanvalues_stage1</servlet-name>
    <url-pattern>/setquestionpaperbeanvalues_stage1</url-pattern>
  </servlet-mapping>
</web-app>